body {
    background-color:  #3F3D56;
    font-family: 'Roboto Mono', monospace;
}
#hacked {
    visibility: hidden;
    height: 100%;
    width: auto;
    margin: 0 auto;
    z-index: 40;
}
#hacked img {
    position: absolute;
    width: 100vw;
    max-height: 1200px;
    height: auto;
    left: 0;
    top: 0;
}
#overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    backdrop-filter: blur(2px);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 2rem;
}

nav img {
    width: 6.5rem;
    height:auto;
    margin: 1rem 1rem;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    width: 100%;
    display: flex;
}
nav li {
    color: #8985A8;
    text-decoration: none;
    font-size: 1rem;
    padding-right: 6rem;
    align-items: center;
    list-style-type: none;
}
nav li:last-of-type {
    color: red;
    cursor: pointer;
}
h2 {
    padding-top: 5rem;
    font-size: 2.5rem;
}
#modal {
    position: absolute;
    left: 14%;
    top: 15%;
    margin: 0 auto;
    width: 69.5rem;
    height: 42rem;
    background-color: #8985A8;
    border-radius: 10px;
    text-align: center;
    filter: unset;
    z-index: 10;
    box-shadow: 10px 10px 15px 10px black;
}
input {
    height: 4.2rem;
    width: 38rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
}
input[type="text"],
input[type="password"] {
    padding-left: 1em;
}
#asterisk {
    display: inline-block;
    position: absolute;
    align-self: center;
    padding-left: 1em;
    color: red;
    font-size: 1.5rem;
    display: none;
}
input::placeholder {
    color: #8985A8;
    letter-spacing: .3rem;
}

input:first-of-type {
margin: 0 auto;
background: #C4C4C4;
}
input:first-of-type::after {
    content: '*';
    color: red;
}
input:nth-of-type(2) {
margin: 0 auto;
background: #C4C4C4;
}
#submit {
margin: 0 auto;
background-color: #6C63FF;
border-radius: 10px;
box-shadow: none;
}
#message {
    display: none;
}

#letter {
width: 25rem;
height: 2.5rem;
margin: 1rem auto 0 16rem;
color: red;
font-family: 'Roboto Mono', monospace;
font-style: normal;
font-weight: bold;
font-size: 1.5rem;
text-align: left;
}
.left > img {
    margin: auto 4rem;
    float: left;
}
.left p:first-of-type {
    font-size: 5rem;
    font-weight: bold;
    color: #8985A8;
    padding-top: 13rem;
    margin-bottom: 1rem;
}
.left p:last-of-type {
    color: #8985A8;
    font-size: 2.1rem;
    margin: 0 auto 3rem auto;
}
button {
    background-color: #6C63FF;
    height: 4rem;
    width: 20rem;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
